:root {
    --green: #2ed2ba;
    --error: #ff1e1e;
    --black: #000000;
    --gray-dark: #666666;
    --gray: #999999;
    --butt-gray: #f2f1f3;
    --dark-blue: #132639;
    --white: #ffffff;
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
}
